<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/myfotema.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <title>myfotema</title>
</head>


<body>
<div class="header" id="header">

    <div class="nav" id="nav">
        <a class="logo" href="/html/index.html"> FOTEMA <!--<img src="/image/slogo14.PNG">--></a>

        <a class="signup" href="javascript:popup('showsignup');"> sign up</a>
        <a class="signin" href="javascript:popup('showsignin');">sign in</a>

        <a class="upload" href="/html/upload.html"><i class="fa fa-upload"></i> upload</a>
        <a class="dropdown" href="/html/myfotema.html">my fotema</a>
    </div>

    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="/image/slogo15.PNG">
            <img src="/image/slogo15.PNG" width="" height="">
        </a>
        <div class="desc">
            <p class="description">description</p>
            <p class="likes"><i class="fa fa-heart"></i> 200</p>
            <p class="comments"><i class="fa fa-commenting"></i> 20</p>
        </div>
    </div>
</div>



<div class="footer">
    <a class="about" href="/html/about.html"> About </a>
    <a class="rules" href="/html/rules.html"> Rules </a>
    <a class="report" href="/html/report.html"> Report </a>
</div>



<script src="/js/myfotema.js"></script>

</body>
</html>