<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myfotema</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/myfotema.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/upload.css">

    <!--<link rel="stylesheet" type="text/css" href="/css/media.css">-->



    <!--<script src="../js/index.js"></script>-->


</head>


<body>
<div class="header" id="header">

    <div class="logo">
        <a href="index.html"> FOTEMA <!--<img src="/image/slogo14.PNG">--></a>
    </div>

    <div class="upload" id="upload" onclick="document.getElementById('uploadfile').style.display = 'block';">
        <a href="#uploadfile">upload</a>
    </div>

    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div class="dropdown">
        <button class="dropbtn"><!--<i class="fa fa-plus"></i>-->more <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="myfotema" href="myfotema.html">my fotema</a>
            <a class="settings" href="settings.html">settings</a>
            <a class="signout" href="signout.html">sign out </a>
        </div>
    </div>

    <div class="profile">
        <a href="myfotema.html"> <!--user's own homepage-->
            <img src="../../image/f.png" alt="profilephoto">
            <h4 class="username">username</h4>
        </a>
    </div>

</div>





<div class="uploadfile" id="uploadfile" >

    <form action="/upload" id="mediaform">

        <div class="row">
            <h4>upload an image, audio or video </h4>
        </div>


        <div class="row">
            <a id="cancelupload" href="javascript:history.back()" onclick="document.getElementById('uploadfile').style.display = 'none';"><i class="fa fa-times"></i></a> <!--href="javascript:history.back()"-->
        </div>

        <!--<div class="row">
            <div class="col-25">
                <label>category</label>
            </div>
            <div class="col-75">
                <input type = "text" name = "category"  placeholder="category">
            </div>
        </div>-->

        <div class="row">
            <div class="col-25">
                <label>title</label>
            </div>
            <div class="col-75">
                <input type = "text" name = "title"  placeholder="title">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>tags</label>
            </div>
            <div class="col-75">
                <input type = "text" name = "tags"  placeholder="#tags">
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label>details</label>
            </div>
            <div class="col-75">
                <input type = "text" name = "details"  placeholder="details">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>file type</label>
            </div>
            <div class="col-25">
                <select name="category">
                    <option value="image">image</option>
                    <option value="audio">audio</option>
                    <option value="video">video</option>
                </select>
            </div>
            <div class="col-50">
                <input type="file" name="mediafile" accept="audio/*,video/*,image/*" onchange="readURL(this);">
            </div>
        </div>

        <button type="submit" ><a id="uploadButton">upload</a></button>

        <div class="row">
            <img id="newImage" src="" alt="new image" />
        </div>

    </form>

</div>





<div class="friendslist" id="friendslist">
    <ul>
        <li>
        <a href="myfotema.html"> <!--friend's homepage-->
            <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
            <h4 class="username">Elias Koivula</h4>
        </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">Manuel Furia</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">Elsa Phyllis Lassfolk</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">Jenny Ivy Wang Xin Cui</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">friend A</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>


        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/fotemaLogo2.PNG" alt="profilephoto">
                <h4 class="username">justin maaneral</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--ufriend's  homepage-->
                <img src="../../image/fotemaLogo1.PNG" alt="profilephoto">
                <h4 class="username">friend B</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>



        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>

        <li>
            <a href="myfotema.html"> <!--friend's homepage-->
                <img src="../../image/f1.jpg" alt="profilephoto">
                <h4 class="username">friend C</h4>
            </a>
        </li>
    </ul>

</div>


<div class="my-media" id="myMedia">

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../../image/slogo15.PNG">
                <img src="../../image/CUTLtuC.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>

        <div class="usercomments">
            <p class="commentername">commenter name</p>
            <p class="commenttime">4 hr </p>
            <p class="commentcontent">this is great!!</p>
        </div>

        <div class="actiononcomment" id="actiononcomment">

            <div class="replycomment">
                <form action="/comment" id="replytocomment">
                    <input type="submit" id="submitComments" value="reply">
                    <input type="text" name="your-comment" maxlength="140" placeholder="your comment here">
                </form>
            </div>

            <button class="likecomment"><i class="fa fa-thumbs-up"></i>100</button>
            <button class="dislikecomment"><i class="fa fa-thumbs-down"></i>12</button>
        </div>

    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../../image/f.png">
                <img src="../../image/slogo15.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>

        <div class="usercomments">
            <p class="commentername">who commented</p>
            <p class="commenttime">4 hr</p>
            <p class="commentcontent">this is great!!</p>
        </div>
        <div class="actiononcomment">

            <div class="replycomment">
                <form action="/comment" >
                    <input type="submit" value="reply">
                    <input type="text" name="your-comment" maxlength="140" placeholder="your comment here">
                </form>
            </div>

            <button class="likecomment"><i class="fa fa-thumbs-up"></i>40</button>
            <button class="dislikecomment"><i class="fa fa-thumbs-down">3</i></button>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../../image/fotemaLogo1.PNG">
                <img src="/backend/public/view/imageimage/CUTLtuC.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>

        <div class="usercomments">
            <p class="commentername">who commented</p>
            <p class="commenttime">4 hr </p>
            <p class="commentcontent">this is great!!</p>
        </div>

        <div class="actiononcomment" >

            <div class="replycomment">
                <form action="/comment" >
                    <input type="submit" value="reply">
                    <input type="text" name="your-comment" maxlength="140" placeholder="your comment here">
                </form>
            </div>

            <button class="likecomment"><i class="fa fa-thumbs-up"></i>200</button>
            <button class="dislikecomment"><i class="fa fa-thumbs-down"></i>13</button>
        </div>



    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../../image/qRthE91.jpg">
                <img src="/backend/public/view/imageimage/qRthE91.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>

        <div class="usercomments">
            <p class="commentername">who commented</p>
            <p class="commenttime">4 hr </p>
            <p class="commentcontent">this is great!!</p>
        </div>

        <div class="actiononcomment" >

            <div class="replycomment">
                <form action="/comment" >
                    <input type="submit"  value="reply">
                    <input type="text" name="your-comment" maxlength="140" placeholder="your comment here">
                </form>
            </div>

            <button class="likecomment"><i class="fa fa-thumbs-up"></i>5k</button>
            <button class="dislikecomment"><i class="fa fa-thumbs-down"></i>120</button>
        </div>

    </div>


</div>

<div class="footer" id="footer">
    <a class="about" href="about.html"> About </a>
    <a class="rules" href="rules.html"> Rules </a>
    <a class="report" href="report.html"> Report </a>
</div>



<script src="../js/myfotema.js"></script>
<script src="../js/index.js"></script>
<script src="../js/upload.js"></script>
<script src="../js/main.js"></script>




</body>
</html>