<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/media.css">
    <link rel="stylesheet" type="text/css" href="../css/upload.css">


    <script src="../js/index.js"></script>
    <script src="../js/upload.js"></script>



</head>
<body>


<div class="header" id="header">

    <div class="logo">
        <a href="index.html"> FOTEMA <!--<img src="/image/slogo14.PNG">--></a>
    </div>

    <div class="upload" id="upload">
        <a href="upload.html"><!--<i class="fa fa-upload"></i>--> upload</a>
    </div>

    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div class="dropdown">
        <button class="dropbtn"><!--<i class="fa fa-plus"></i>-->more <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="myfotema" href="myfotema.html">my fotema</a>
            <a class="settings" href="settings.html">settings</a>
            <a class="signout" href="signout.html">sign out </a>
        </div>
    </div>

</div>

<div class="uploadfile" id="uploadfile">

<form action="/upload" id="mediaform">

    <div class="row">
        <h4>upload an image, audio or video </h4>
    </div>

    <div class="row">
        <a id="cancelupload" href="javascript:history.back()"><i class="fa fa-times"></i></a>
    </div>

    <div class="row">
        <div class="col-25">
            <label>category</label>
        </div>
        <div class="col-75">
            <input type = "text" name = "category"  placeholder="category">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label>title</label>
        </div>
        <div class="col-75">
            <input type = "text" name = "title"  placeholder="title">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label>tags</label>
        </div>
        <div class="col-75">
            <input type = "text" name = "tags"  placeholder="#tags">
        </div>
    </div>


    <div class="row">
        <div class="col-25">
            <label>details</label>
        </div>
        <div class="col-75">
            <input type = "text" name = "details"  placeholder="details">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label>file type</label>
        </div>
        <div class="col-25">
             <select name="category">
                <option value="image">image</option>
                <option value="audio">audio</option>
                <option value="video">video</option>
              </select>
        </div>
        <div class="col-50">
            <input type="file" name="mediafile" accept="audio/*,video/*,image/*" onchange="readURL(this);">
        </div>
    </div>

    <button type="submit">upload</button>

    <div class="row">
        <img id="newImage" src="#" alt="new image" />
    </div>

</form>

</div>



<div class="footer" id="footer">
    <p><i class="fa fa-copyright"></i> FOTEMA</p>
    <a class="about" href="about.html"> about </a>
    <a class="rules" href="rules.html"> rules </a>
    <a class="report" href="report.html">report </a>
</div>


</body>
</html>