*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
}




.clickmedia{
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: auto;
    display: flex;
    min-width: 250px;
    width: 60% !important;
    max-width: 600px;
    margin: auto;
    flex-direction: column;
}


.responsive {
    float: left;
    margin: auto;
    width: 100% !important;
    height: fit-content;
    border: 1px solid #bcbcbc;
}

div.gallery h4{
    float: left;
    text-align: left;
    padding: 0 5px;
    width: 85%;
    max-width: max-content;
    color: whitesmoke;
    overflow: hidden;
}

div.gallery h5{
    float: left;
    padding: 5px 6px;
    width: 100%;
    max-width: fit-content;
    color: white;
}

div.gallery h5 a{
    text-decoration: none;
    color: #ec121e;
}

div.gallery h5 a:hover{
    color: #00b500;

}

div.gallery {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}



div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    resize: vertical;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.desc:hover{
    /*background-color: #858585;*/
}

.desc .description{
    display: flex;
    flex: 100%;
    text-align: left;
    padding: 10px;
}

.desc .likesnumber, .commentsnumber{
    color: #f0f8ff;
    width: 50%;
    flex: fit-content;
}

.desc .likesnumber button, .commentsnumber button{
    width: 30px;
    padding: 1px;
    background-color: inherit;
    border: 1px;
}

.desc .likesnumber button:hover, .commentsnumber button:hover{
    color: #00b500;
    font-size: large;
}

.writecomment{
    display: block;
    padding: 10px;
    background-color: #a3a3a3;
    margin: 10px 0;
}

.writecomment form{
    display: flex;
    flex: 100%;
    flex-direction: column;
}


.writecomment textarea{
    font-size: medium;
    font-weight: normal;
    line-height: 18px;
    padding: 5px;
}

.writecomment input[type="submit"]{
    font-size: 16px;
    font-weight: normal;
    padding: 3px 8px;
    width: fit-content;
    margin: 5px auto 0;
    border: 1px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #1dac2c;

}

.writecomment input[type="submit"]:hover{
    /*background-color: #9d0e04;*/
    background-color: #008a00;
}

.comments{
    display: block;
}

.usercomments{
    background-color: rgb(83, 83, 83);
    color: beige;
    padding: 10px;
    border: 1px solid beige;
    position: relative;
    margin: 5px 0;
}

.commentername{
    font-weight: bold;
    color: #cdc5c9;
    width: 80%;
    float: left;
}

.likecomment{
    background-color: #1fb72f;
    border: 1px;
    padding: 3px 5px;
    float: right;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 5px;
}

.likecomment:hover{
    background-color: #008a00;
}

.commenttime{
    font-weight: bold;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #cdc5c9;
}

p.commentcontent{
    width: 85%;
    text-align: left;
    margin-top: 15px;
    overflow: auto;
    padding-right: 3px;
}

.editmedia{
    position: absolute;
    top: 80px;
    right: 0;
    border: 1px;
    padding: 3px;
    display: inline-flex;
}


#btnUpdateMedia, #btnDeleteMedia{
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    background-color: unset;
    border: none;
}

#cancelUpdate{
    width: 25px;
    height: 25px;
    border: 1px solid darkgray;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 5px;
    border-radius: 5px;
    margin-bottom: 3px;

}

.editmedia form{
    display: none;
    width: 500px;
    position: absolute;
    top: 0;
    right: 70px;
    background-color: #4a5762;
    padding: 30px 30px 10px 30px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.7);

}


.editmedia form label {
    padding: 2px;
    margin-right: 5px;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    float: left;
    color: white;
}

.editmedia form input{
    width: 80%;
    padding: 2px;
    margin: 2px 0;
    box-sizing: border-box;
    background-color: beige;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
    text-align: left;
    float: right;

}

#submitUpdate{
    background-color: #00a800;
    color: white;
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 60px;
    float: right;
    margin-top: 5px;
}

#submitUpdate:hover, #btnUpdateMedia:hover{
    background-color: #00df00;
    color: white;
    border: none;
}

#btnDeleteMedia:hover, #cancelUpdate:hover{
    background-color: #ed0000;
    border: none;
}

/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/

@media only screen and (max-width: 1024px) {
    .clickmedia{
        width: 80% !important;
    }

    .responsive {

    }

    .editmedia {

    }

}

@media only screen and (max-width: 768px) {
    .clickmedia {
        width: 85% !important;
    }

    .responsive {

    }


    .editmedia {

    }

    .editmedia form{
        width: 400px;
        right: 60px;
    }
}


@media only screen and (max-width: 600px) {
    .clickmedia {
        width: 90% !important;
        padding-top: 60px;
    }

    .responsive {

    }


    .editmedia {
        padding: 0 2px;
        top: 60px;

    }

    #btnUpdateMedia, #btnDeleteMedia{
        width: 25px;
        height: 25px;
        font-size: 18px;
        margin: 5px 0;
    }

    .editmedia form{
        width: 250px;
        right: 30px;
    }

    .editmedia form input{
        width: 100%;
    }


}

