*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    background-size: cover;
    background: #5d5d5d no-repeat fixed center center;
    width: 100%;
    height: 100%;
}



/************scroll bar************/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0d0d0d;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #363636;
}



.header {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: grey;
    display:inline;  
}


.header .logo {
    margin-right: 10px;
    background-color: grey;
    /*background-image: linear-gradient(to bottom,  #77030b, #d70613, #eb0715, #eb0715,#eb0715, #d70613,#77030b);*/
    float: left;
    text-align: center;
    padding: 0px;
    padding-right: 10px;
    margin-top: 0.2em;
    padding-bottom: 0.4em;
    margin-bottom: 0.1em;
    border: none;
    border-radius: 5px;
}

 .logo a {
     flex: 15%;
     font-size: 20px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     font-family: sans-serif, Arial, Helvetica, Verdana, cursive;
     /*font-family: Verdana, cursive;*/
     line-height: 20px;
}


.header .logo:hover{
    background-color: rgba(0, 0, 255, 0.95);
    background-image: linear-gradient(to bottom, #0000ec, #0000a9, #0000a4, #0000ec);

    /*background-color: rgba(0, 0, 121, 0.9);*/
    /*background-image: linear-gradient(to bottom, #eb0715, #6c030a, #6c030a, #eb0715);*/
}



.header .upload{
    float: left;
    margin-right: 10px;
}

.header .upload a{
}

.header .upload button, .header .sign button, .dropbtn {
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 0.4em;
    text-decoration: none;
    /*font-family: Verdana, cursive;*/
    font-family: sans-serif, Arial, Helvetica, Verdana, cursive;
    font-size: 17px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    /*background-color: #d7380b;*/
    background-color: #1fb72f;

}

.header .upload button, .header #headerBtnSignup {
    background-color: #eb4208;
}

.header .upload a, .header .sign a{
    text-decoration: none;
    color: white;
}


.header .upload button:hover, .header .sign button:hover, .header .dropdown .dropbtn:hover {
    /*background-color: rgb(186, 52, 6);*/
    /*background-image: linear-gradient(to bottom, #e93d0c, #8b2407, #e93d0c);*/
    background-color: rgba(35, 208, 54, 0.99);
    background-image: linear-gradient(to bottom, #00a800, green, #00a800);

}

.anon {
    display: none;
}

.logged {
    display: none;
}

.header .sign button{
    float: left;
    margin-right: 10px;
}



.header .dropdown{
    float: left;
}

.header .upload, .header .dropdown{
}


.search-container{
    display: flex;
    flex-direction: row;
    float: right;
}


.search-container input[type=text] {
    padding: 3px;
    border: 1px solid #eb0715;
    margin-top: 10px;
    margin-right: 3px;
    font-size: 15px;
    background-color: white;
}

.search-container button, #btnSearchMobile {
    padding: 3px 5px;
    margin-top: 6px;
    background: #eb4208;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.search-container button:hover {
    background-color: #1fb72f;
    color: white;
}

#btnSearchMobile{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dadada;
    min-width: 130px;
    width: max-content;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    z-index: 9;
    border-radius: 5px;

}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    font-size: 17px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(93, 93, 93, 0.82);
    border-radius: 5px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.profile{
    margin: 3px 10px 0 3%;
    overflow-x: hidden;
    max-width: content-box;
    float: right;
}

.profile a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;

}

.profile img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border-radius: 90%;
}

.profile .username{
    float: right;
    margin-left: 5px;
    margin-top: 6px;
    color: whitesmoke;
    font-size: 18px;
    font-family: sans-serif, Arial, Helvetica, Verdana, cursive;
}



.footer {
    margin-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #676767;
    background-image: linear-gradient(to right, #3f3f3f, #3f3f3f);
    text-align: center;
    transition: top 0.3s;
}



.footer p, .footer a{
    color: beige;
    font-size: 14px;
    display: inline-block;
    padding: 3px 2% 0 2%;
    text-decoration: none;

}

.footer a:hover{
    background-color: #838285;
    color: black;
}


/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/


@media only screen and (max-width: 1024px) {
    .header{

    }

    .logo a {

    }

    .header .upload{

    }

    .header .dropdown{


    }

    .header .sign{

    }

    .header .sign button{

    }

    .search-container{

    }

    .search-container input[type=text] {
        /*width: 260px;*/

    }

    .search-container button {

    }

    .profile {
    }


    ::-webkit-scrollbar {
        /*width: 0;*/
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .profile .username{
        display: none;
    }

    .header{

    }

    .logo a {

    }

    .header .upload{

    }

    .header .dropdown{


    }

    .header .sign{

    }

    .header .sign button{

    }

    .search-container{

    }

    .search-container input[type=text] {

    }

    .search-container button {

    }

    ::-webkit-scrollbar {
        width: 0;
    }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 650px) {
    .header{
        height: 45px;
    }

    .header .logo {
        padding: 5px;

    }

    .logo a {
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
    }

   .header .upload button, .header .sign button, .dropbtn {
       padding: 5px !important;
       width: fit-content;
       font-size: 14px;
       font-weight: normal;
    }

    .header .upload, .header .dropdown, .header .sign{
        line-height: 16px;
    }

    .header .upload{

    }

    .header .dropdown{

    }

    .header .sign{

    }

    .header .sign button{
        padding: 5px 3px;
    }


    #btnSearchMobile{
        display: inline;
        position: fixed;
        left: 235px;
        top: 3px;
        padding: 2px 5px;
        border-radius: 5px;
    }

    .profile .username{
        display: none;
    }

    .profile img{
        position: fixed;
        right: 10px;
        top: 10px;
        width: 25px;
        height: auto;
        display: inline-block;
    }



    .search-container{
        display: none;
        position: fixed;
        flex: none;
        flex-wrap: nowrap;
        left: 5px;
        top: 3px;
        background: #575757;
        padding: 0 10px 2px;
        width: 200px;
        z-index: 9;
    }

    .search-container input[type=text] {
        padding: 2px;
        font-size: 14px;
        width: 80%;
    }

    .search-container button {
        padding: 3px 6px;
        top: 8px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 5px;
    }

    .footer{
        display: none;
    }

    ::-webkit-scrollbar {
        visibility: hidden;
    }

}





/*
@media only screen and (orientation: landscape) {
    @media screen and (max-width: 768px) {
        .header{
            display: inline-block;
        }

        .header .upload{
            left: 100px;
        }

        .header .dropdown{
            left: 170px;
        }

        #btnSearchMobile{
            left: 250px;
        }

        .profile .username{
            display: none;
        }
        .search-container{
            display: none;
        }

    }

}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


