*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    background-size: cover;
    background: #5d5d5d no-repeat fixed center center;
    /*background-image: linear-gradient(to bottom, #000000, #0e000d, #040004);*/
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
}



/************scroll bar************/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0d0d0d;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #363636;
}



.header {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(to right, #3f3f3f, #7e7e7e, #3f3f3f);
    /*background-image: linear-gradient(to right,  #040004, #1d001a, #040004);*/
    padding: 5px 10px;
    display:flex;
    flex: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    /*height: max-content;*/
}


.header .logo {
    margin-right: 10px;
    background-color: #3838c7;
    /*background-image: linear-gradient(to bottom,  #77030b, #d70613, #eb0715, #eb0715,#eb0715, #d70613,#77030b);*/
    float: left;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

 .logo a {
     flex: 15%;
     font-size: 20px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     font-family: Verdana, cursive;
     line-height: 20px;
}


.header .logo:hover{
    background-color: rgba(0, 0, 255, 0.95);
    background-image: linear-gradient(to bottom, #0000ec, #0000a9, #0000a4, #0000ec);

    /*background-color: rgba(0, 0, 121, 0.9);*/
    /*background-image: linear-gradient(to bottom, #eb0715, #6c030a, #6c030a, #eb0715);*/
}



.header .upload{
    float: left;
    flex: 25%;
}

.header .upload a{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*float: left;*/
}

.header .upload button, .header .sign button, .dropbtn {
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 2px;
    text-decoration: none;
    font-family: Verdana, cursive;
    font-size: 17px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    /*background-color: #d7380b;*/
    background-color: #1fb72f;

}

.header .upload button, .header #headerBtnSignup {
    background-color: #eb4208;
}

.header .upload a, .header .sign a{
    text-decoration: none;
    color: white;
}


.header .upload button:hover, .header .sign button:hover, .header .dropdown .dropbtn:hover {
    /*background-color: rgb(186, 52, 6);*/
    /*background-image: linear-gradient(to bottom, #e93d0c, #8b2407, #e93d0c);*/
    background-color: rgba(35, 208, 54, 0.99);
    background-image: linear-gradient(to bottom, #00a800, green, #00a800);

}


.header .sign, .dropdown{
    float: right;
}

.header .sign{
    flex: 10%;
    float: right;
    /*visibility: hidden;*/
}

.header .sign button{
    margin-left: 4%;
    float: right;
}


.header .dropdown{
    flex: 5%;
    margin: 0;
}

.header .upload, .header .dropdown{
    /*visibility: hidden;*/
}


.search-container{
    flex: 45%;
    display: flex;
    flex-direction: row;
}


.search-container input[type=text] {
    width: 400px;
    padding: 3px;
    border: 1px solid #eb0715;
    margin-top: 6px;
    margin-right: 3px;
    font-size: 15px;
    /*background-color: rgba(210, 186, 207, 0.99);*/
    background-color: white;
}

.search-container button, #btnSearchMobile {
    padding: 3px 5px;
    margin-top: 6px;
    background: #eb4208;
    /*background-image: linear-gradient(to bottom, #7b2006, #e43b0c, #e43b0c, #7b2006);*/
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: white;
}

.search-container button:hover {
    /*background: #ba3406;*/
    /*background-image: linear-gradient(to bottom, #e93d0c, #8b2407, #e93d0c);*/
    background-color: #1fb72f;
    color: white;
}

#btnSearchMobile{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #474747;
    min-width: 130px;
    width: max-content;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    z-index: 9;
    border-radius: 5px;
    right: 2%;

}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    font-size: 17px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(123, 123, 123, 0.82);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.profile{
    position: fixed;
    right: 20px;
    top: 10px;
    overflow-x: hidden;
    max-width: content-box;
    width: 150px;
    display: none;
}

.profile a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;

}

.profile img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.profile .username{
    float: right;
    margin-left: 5px;
    color: whitesmoke;
    font-size: 20px;
    font-family: Verdana, cursive;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    /*background-color: rgb(82, 1, 74);*/
    /*background-image: linear-gradient(to right,  #040004, #1d001a, #040004);*/
    background-color: #676767;
    background-image: linear-gradient(to right, #3f3f3f, #3f3f3f);
    text-align: center;
    transition: top 0.3s;
}



.footer p, .footer a{
    color: beige;
    font-size: 14px;
    display: inline-block;
    padding: 3px 2% 0 2%;
    text-decoration: none;

}

.footer a:hover{
    background-color: #838285;
    color: black;
}


/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/


@media only screen and (max-width: 1024px) {
    .header{

    }

    .logo a {
        flex: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .header .upload{
        position: fixed;
        left: 100px;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        position: fixed;
        left: 180px;
        flex: none;
        /*visibility: hidden;*/

    }

    .header .sign{
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        right: 15px;
        float: left;
        /*visibility: hidden;*/
    }

    .header .sign button{
        width: 85px;
        margin-left: 3%;
    }

    .search-container{
        position: fixed;
        left: 40%;
        flex: none;
        flex-wrap: nowrap;
    }

    .search-container input[type=text] {
        width: 260px;
        padding: 2px;
        font-size: 14px;
        /*background-color: rgba(203, 203, 203, 0.99);*/
    }

    .search-container button {
        font-size: 14px;
    }

    .profile {
    }


    ::-webkit-scrollbar {
        width: 0;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header{
        flex: none;
        display: inline-block;
        margin: 0;
        /*background-color: #0e000d;*/
        /*background-image: linear-gradient(#0e000d, #230021,#0e000d);*/
        /*background-image: none;*/
    }

    .logo a {
        flex: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .header .upload{
        position: fixed;
        left: 100px;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        position: fixed;
        left: 180px;
        flex: none;
        /*visibility: hidden;*/

    }

    .header .sign{
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        right: 15px;

        /*visibility: hidden;*/
    }

    .header .sign button{
        width: 90px;
        margin-left: 3%;
    }

    .search-container{
        position: fixed;
        left: 40%;
        flex: none;
        flex-wrap: nowrap;
    }

    .search-container input[type=text] {
        width: 220px;
        padding: 2px;
        margin-top: 0;
        margin-right: 0;
        font-size: 14px;
    }

    .search-container button {
        padding: 4px 6px;
        margin-top: 6px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .header{
        flex: none;
        height: 45px;
        display: inline;
        margin: 0;
    }

    .header .logo {
        padding: 5px;
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .logo a {
        flex: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
    }

   .header .upload button, .header .sign button, .dropbtn {
        padding: 5px 0 !important;
        width: 70px;
       font-size: 14px;
       font-weight: normal;
    }

    .header .upload, .header .dropdown, .header .sign{
        position: fixed;
        top: 5px;

        line-height: 16px;
        flex: none;
    }

    .header .upload{
        left: 85px;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        left: 160px;
        /*visibility: hidden;*/
    }

    .header .sign{
        display: flex;
        flex-direction: row;
        left: 75px;
        visibility: hidden;
    }

    .header .sign button{
        width: 63px;
        padding: 5px 3px;
    }


    #btnSearchMobile{
        display: inline;
        position: fixed;
        left: 235px;
        top: 3px;
        padding: 2px 5px;
        border-radius: 5px;
    }

    .profile .username{
        display: none;
    }

    .profile img{
        position: fixed;
        right: 10px;
        top: 10px;
        width: 25px;
        height: auto;
        display: inline-block;
    }



    .search-container{
        /*visibility: hidden;*/
        display: none;
        position: fixed;
        flex: none;
        flex-wrap: nowrap;
        left: 12%;
        top: 45px;
    }

    .search-container input[type=text] {
        width: 200px;
        padding: 2px;
        font-size: 14px;

    }

    .search-container button {
        padding: 3px 6px;
        top: 8px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 5px;
    }

    .footer{
        display: none;
    }

    ::-webkit-scrollbar {
        visibility: hidden;
    }

}






@media only screen and (orientation: landscape) {
    @media screen and (max-width: 768px) {
        .header{
            display: inline-block;
        }

        .header .upload{
            left: 100px;
        }

        .header .dropdown{
            left: 170px;
        }

        #btnSearchMobile{
            left: 250px;
        }

        .profile .username{
            display: none;
        }
        .search-container{
            display: none;
        }

    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


