*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    background-size: cover;
    background: #070006 no-repeat fixed center center;
    background-image: linear-gradient(to bottom, #000000, #0e000d, #040004);
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
}



/************scroll bar************/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0e051c;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #472d42;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #af050f;
}



.header {
    position: fixed;
    width: 100%;
    background-color: #280024;
    background-image: linear-gradient(to bottom, #1f001c,#4b0144,#4b0144, #1f001c);
    /*background-image: linear-gradient(to right, #4b0144, #4b0144, #1f001c,#1f001c,#6b0161, #6b0161, #6b0161,#1f001c,#1f001c,#1f001c, #4b0144, #4b0144);*/
    padding: 8px;
    display:flex;
    flex: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    height: max-content;
}


.header .logo {
    margin: 0 1%;
    background-color: #eb0715;
    background-image: linear-gradient(to bottom,  #77030b,#d70613,#eb0715, #eb0715,#eb0715, #d70613,#77030b);
    float: left;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 8px;
    /*justify-content: space-evenly;*/
}

 .logo a {
     flex: 10%;
     font-size: 20px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     font-family: Verdana, cursive;
     line-height: 20px;
}

.header .logo:hover{
    background-color: #cd3a07;
    background-image: linear-gradient(to bottom, #eb0715, #6c030a, #6c030a, #eb0715);
    color: white;
    text-decoration: none;
}



.header .upload{
    float: left;
    flex: 23%;
}

.header .upload a{
    display: flex;
    flex-direction: row;
    float: left;
}

.header .upload a, .header .sign a, .dropbtn {
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 2px;
    text-decoration: none;
    font-family: Verdana, cursive;
    font-size: 17px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    /*justify-content: space-evenly;*/
    background-color: #d7380b;
    background-image: linear-gradient(to bottom, #7b2006, #ea6101, #fb6801,#fb6801, #ea6101, #7b2006);

}


.header .upload a:hover, .header .sign a:hover, .header .dropdown .dropbtn:hover {
    background-color: rgb(186, 52, 6);
    background-image: linear-gradient(to bottom, #e93d0c, #8b2407, #e93d0c);

}


.header .sign, .dropdown{
    float: right;
}

.header .sign{
    flex: 20%;
    margin-left: 5%;
    /*visibility: hidden;*/
}

.header .sign a{
    margin-left: 3%;
    float: right;

}

.header .dropdown{
    flex: 5%;
    margin: 0 10px;
}

.header .upload, .header .dropdown{
    /*visibility: hidden;*/
}


.search-container{
    flex: 35%;
    display: flex;
    flex-direction: row;
}


.search-container input[type=text] {
    width: 400px;
    padding: 5px;
    border: 1px solid #eb0715;
    margin-top: 6px;
    margin-right: 16px;
    font-size: 15px;
    background-color: rgba(210, 186, 207, 0.99);
}

.search-container button {
    padding: 4px 6px;
    margin-top: 6px;
    background: #eb4208;
    /*background-image: linear-gradient(to bottom, #7b2006, #e43b0c, #e43b0c, #7b2006);*/
    background-image: linear-gradient(to bottom, #7b2006, #ea6101, #fb6801,#fb6801, #ea6101, #7b2006);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}

.search-container button:hover {
    background: #ba3406;
    background-image: linear-gradient(to bottom, #e93d0c, #8b2407, #e93d0c);
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33032d;
    /*background-image: linear-gradient(to bottom, #500148, #5c175a,#6b1b69,#6b1b69,#6b1b69, #5c175a, #500148);*/
    min-width: 130px;
    width: max-content;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    z-index: 9;
    border-radius: 5px;
    right: 2%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 17px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.53);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(82, 1, 74);
    background-image: linear-gradient(to right,  #040004, #1d001a, #040004);
    text-align: center;
    transition: top 0.3s;
}



.footer p, .footer a{
    color: beige;
    font-size: 14px;
    display: inline-block;
    padding: 3px 2% 0 2%;
    text-decoration: none;

}

.footer a:hover{
    background-color: #838285;
    color: black;
}


/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/


@media only screen and (max-width: 1024px) {
    .header{
        flex: none;
        background-color: #0e000d;
        background-image: linear-gradient(#0e000d, #230021,#0e000d);
    }

    .logo a {
        flex: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .header .upload{
        position: fixed;
        left: 13%;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        position: fixed;
        left: 22%;
        flex: none;
        margin-left: 1%;
        /*visibility: hidden;*/

    }

    .header .sign{
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 10%;
        float: left;
        /*visibility: hidden;*/
    }

    .header .sign a{
        width: 90px;
        margin-left: 3%;
    }

    .search-container{
        position: fixed;
        top: 1%;
        right: 6%;
        flex: none;
        flex-wrap: nowrap;
    }

    .search-container input[type=text] {
        width: 260px;
        padding: 2px;
        border: 1px solid #eb0715;
        margin-top: 0;
        margin-right: 0;
        font-size: 14px;
        background-color: rgba(210, 186, 207, 0.99);
    }

    .search-container button {
        padding: 4px 6px;
        margin-top: 6px;
        background: #eb4208;
        background-image: linear-gradient(to bottom, #7b2006, #ea6101, #fb6801,#fb6801, #ea6101, #7b2006);
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
    }



}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header{
        flex: none;
        background-color: #0e000d;
        background-image: linear-gradient(#0e000d, #230021,#0e000d);
    }

    .logo a {
        flex: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .header .upload{
        position: fixed;
        left: 20%;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        position: fixed;
        left: 35%;
        flex: none;
        margin-left: 1%;
        /*visibility: hidden;*/

    }

    .header .sign{
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 15%;
        float: left;
        /*visibility: hidden;*/
    }

    .header .sign a{
        width: 90px;
        margin-left: 3%;
    }

    .search-container{
        position: fixed;
        top: 1%;
        right: 4%;
        flex: none;
        flex-wrap: nowrap;
    }

    .search-container input[type=text] {
        width: 260px;
        padding: 2px;
        border: 1px solid #eb0715;
        margin-top: 0;
        margin-right: 0;
        font-size: 14px;
        background-color: rgba(210, 186, 207, 0.99);
    }

    .search-container button {
        padding: 4px 6px;
        margin-top: 6px;
        background: #eb4208;
        background-image: linear-gradient(to bottom, #7b2006, #ea6101, #fb6801,#fb6801, #ea6101, #7b2006);
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
    }



}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .header{
        flex: none;
        background-color: #0e000d;
        background-image: linear-gradient(#0e000d, #230021,#0e000d);
    }

    .logo a {
        flex: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
    }

    .header .upload{
        position: fixed;
        left: 45%;
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        /*visibility: hidden;*/
    }

    .header .dropdown{
        position: fixed;
        left: 70%;
        flex: none;
        margin-left: 1%;
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        /*visibility: hidden;*/

    }

    .header .sign{
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 40%;
        top: 1%;
        margin-left: 1%;
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        float: right;
        /*visibility: hidden;*/
    }

    .header .sign a{
        margin-right: 3%;
        width: 90px;
    }


    .search-container{
        position: fixed;
        top: 50px;
        right: 4%;
        flex: none;
        flex-wrap: nowrap;
    }

    .search-container input[type=text] {
        width: 260px;
        padding: 2px;
        border: 1px solid #eb0715;
        margin-top: 0;
        margin-right: 0;
        font-size: 14px;
        background-color: rgba(210, 186, 207, 0.99);
    }

    .search-container button {
        padding: 4px 6px;
        margin-top: 6px;
        background: #eb4208;
        background-image: linear-gradient(to bottom, #7b2006, #ea6101, #fb6801,#fb6801, #ea6101, #7b2006);
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: white;
    }



}






@media only screen and (orientation: landscape) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


