*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mediacontent {
    overflow: auto;
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 20px;
}


.firstblock-mediacontent, .morecontent{
    overflow: auto;
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.responsive {
    padding: 6px;
    float: left;
    width: 20%;
    margin: auto;
}


div.gallery {
    border: 1px solid #ccc;
    width: 100%;
    height: 300px;
}

div.gallery:hover {
    border: 2px solid #535353;
    background-color: rgba(210, 210, 210, 0.53);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery a{
    width: 100%;

}

div.desc {
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(83, 83, 83);
}

div.desc:hover{
    background-color: #858585;
}

.desc .description{
    display: flex;
    flex: 100%;
    text-align: left;
}

.desc .likesnumber, .commentsnumber{
    color: #f0f8ff;
}

.morecontent{
    display: none;
}

.viewmorecontent{
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 2% 45%;
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;
}

.viewmorecontent:hover{
    background-color: green;
}


/**********************************************************************************************************************/
@media only screen and (max-width: 1024px){

    .mediacontent{

    }

    .responsive {
        width: 29%;
        margin: auto;
    }

}

@media only screen and (max-width: 768px) {

    .mediacontent{
        margin: auto;
    }


    .responsive {
        width: 49%;
    }
}

@media only screen and (max-width: 500px) {

    .responsive {
        width: 100%;
    }
}



@media screen and (max-width: 600px) {
    .mediacontent{
        margin: auto;
    }


}




