*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mediacontent-container{
    display: block;
    overflow: auto;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 90%;
}

.mediacontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.responsive {
    float: left;
    margin: 15px auto;
    border: 1px solid #bcbcbc;
    background-color: #575757;
    height: 400px;
    width: 300px;
}


div.gallery {
    width: 100%;
    height: 75%;
    overflow: hidden;
    
}

img.galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


div.gallery:hover {
    border: 2px solid red;

}


div.desc {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    resize: vertical;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: rgb(83, 83, 83);*/
}

div.desc:hover{
    background-color: #858585;
}

.desc .description{
    display: flex;
    flex: 100%;
    text-align: left;
    padding: 10px;
}

.desc .likesnumber, .commentsnumber{
    color: #f0f8ff;
    width: 50%;
    flex: fit-content;
}

.desc .likesnumber button, .commentsnumber button{
    width: 30px;
    padding: 1px;
    background-color: inherit;
    border: 1px;
}

.desc .likesnumber button:hover {
    color: #00b500;
    font-size: large;
}

.desc .likedlikesnumber button{
    color: #00b500;
    font-size: large;
}

.divbtnViewMoreContent{
    margin: 50px auto;
}

.btnViewMoreContent{
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 30px auto 80px;
    left: 0;
    right: 0;
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;
}

.btnViewMoreContent:hover{
    background-color: green;
}


/**********************************************************************************************************************/
@media only screen and (max-width: 1200px){

    .mediacontent{
        padding-top: 11%;

    }

    .responsive {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .mediacontent{
        padding-top: 13%;
    }


    .responsive {
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 600px) {


    .mediacontent{
        padding-top: 17%;
        width: 90%;
    }


    .responsive {
        margin-bottom: 10px;
    }

    .mediacontent::-webkit-scrollbar {
        display: none;
    }



}




