

.sign{
    display: none !important;
}

.my-media-container{
    overflow: auto;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.my-media{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#btnViewMoreMyMedia{
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 30px auto 80px;
    left: 0;
    right: 0;
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;

}

#btnViewMoreMyMedia:hover{
    background-color: green;
}




/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/
@media only screen and (max-width: 1024px) {
    .profile{

    }

    .my-media{
        padding-top: 3%;
        padding-bottom: 2%;

    }

    .responsive {

    }
}

@media only screen and (max-width: 768px) {
    .profile{
    }

    .my-media{
        padding-top: 2%;
        padding-bottom: 2%;

    }

    .responsive {

    }


}


@media screen and (max-width: 600px) {

    .header{
    }

    .my-media{
        margin: auto;
        padding-bottom: 2%;
        padding-top: 3%;
    }

    .responsive {

    }

    .my-media::-webkit-scrollbar {
        display: none;
    }


}