

/*.dropdown{*/
/*flex: 15% !important;*/
/*margin: 0;*/
/*}*/

/*.dropdown-content {*/
/*display: none;*/
/*left: -10%;*/
/*}*/

.sign{
    display: none !important;
}

.my-media{
    overflow: auto;
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 1%;
}

.my-media-first-block, .viewmore-my-media {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}



.viewmore-my-media{
    display: none;
}

#btnViewMoreMyMedia{
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 30px auto 50px;
    left: 0;
    right: 0;
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;

}

#btnViewMoreMyMedia:hover{
    background-color: green;
}




/**********************************************************************************************************************/
/*media query*/
/**********************************************************************************************************************/
@media only screen and (max-width: 1024px) {
    .profile{

    }

    .my-media{

    }

    .responsive {

    }
}

@media only screen and (max-width: 768px) {
    .profile{
    }

    .my-media{

    }

    .responsive {

    }


}


@media screen and (max-width: 600px) {

    .header{
    }

    .my-media{

    }

    .responsive {

    }

    .my-media::-webkit-scrollbar {
        display: none;
    }


}