*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-results{
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    position: fixed;
    overflow-y: scroll;
    z-index: 9;
    background-color: #4a5762;
    border: solid #000000 2px;
    width: 80%;
    padding: 1%;
    left: 10%;
    right: 10%;
    top: 80px;
    bottom: 60px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.9);
    visibility: hidden;
}

.first-block-search-results, .view-more-search-results{
    flex: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.view-more-search-results{
    display: none;
}


.responsive {
    padding: 6px;
    float: left;
    width: 20%;
}


#hideSearchResult{
    background-color: #a6a0a2;
    /*margin: 1% 5%;*/
    color: black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: fixed;
    top: 4%;
    right: 12%;
    width: 25px;
    height: 23px;
    font-size: large;
    text-align: center;
}

#hideSearchResult:hover {
    background-color: red;
    border: none;
}

div.gallery {
    border: 1px solid #ccc;
    width: 100%;
    height: 300px;
}

div.gallery:hover {
    border: 2px solid #535353;
    background-color: rgba(210, 210, 210, 0.53);
}

div.gallery img {
    width: 100%;
    height: 220px;
}

div.gallery a{
    width: 100%;

}

div.desc {
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(83, 83, 83);
}

div.desc:hover{
    background-color: #858585;
}

.desc .description{
    display: flex;
    flex: 100%;
    text-align: left;
}

.desc .likesnumber, .commentsnumber{
    color: #f0f8ff;
}

.divbtnViewMoreSearchResults{
    flex: 100%;
    display: block;
}

#btnViewMoreSearchResults{
    width: 100px;
    height: 40px;
    margin: 3% 45%;
    /*margin-bottom: 3%;*/
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;
    display: block;
}

#btnViewMoreSearchResults:hover{
    background-color: green;
}

/**********************************************************************************************************************/
@media only screen and (max-width: 1024px){

    #searchResults{
        padding-top: 30px;
        margin:auto;


    }

    .responsive {
        width: 33%;
        margin: auto;
    }

}

@media only screen and (max-width: 768px) {

    #searchResults{
        padding-top: 30px;
        margin: auto;
    }


    .responsive {
        width: 49%;
    }
}

@media only screen and (max-width: 500px) {

    #searchResults{
        padding-top: 20px;
        margin: auto;
    }


    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {


}




