*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-results{
    overflow: auto;
    margin: auto;
    position: fixed;
    z-index: 9;
    background-color: #4a5762;
    border: solid #000000 2px;
    width: 80%;
    min-width: 200px;
    max-width: 1400px;
    height: 700px;
    min-height: 300px;
    max-height: 800px;
    padding: 1%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.9);
    /*display: block;*/
    display: none;

}

.first-block-search-results, .more-search-results{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    margin: auto;
}

.more-search-results{
    display: none;
}


.search-results .responsive {
    width: 250px;
    height:300px;
}


#hideSearchResult{
    background-color: #a6a0a2;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: static;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 23px;
    font-size: large;
    text-align: center;
}

#hideSearchResult:hover {
    background-color: red;
    border: none;
}

div.gallery {

}

div.gallery:hover {

}

div.gallery img {

}

div.gallery a{


}

div.desc {
/
}

div.desc:hover{
    /*background-color: #858585;*/
}

.desc .description{

}

.desc .likesnumber, .commentsnumber{
    /*color: #f0f8ff;*/
}

.divbtnViewMoreSearchResults{
    flex: 100%;
    display: block;
}

#btnViewMoreSearchResults{
    width: 100px;
    height: 40px;
    margin: 3% auto;
    /*margin-bottom: 3%;*/
    background-color: #eb4208;
    border: 1px gray;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 5px 8px;
    display: block;
}

#btnViewMoreSearchResults:hover{
    background-color: green;
}

/**********************************************************************************************************************/
@media only screen and (max-width: 1024px){

    #searchResults{
        padding-top: 30px;
        margin:auto;


    }

    .responsive {

    }

}

@media only screen and (max-width: 768px) {

    #searchResults{
        padding-top: 30px;
        padding-bottom: 20px;

    }


    .responsive {

    }
}

@media only screen and (max-width: 500px) {




    .responsive {

    }
}



@media screen and (max-width: 600px) {

    #searchResults{
        width: 90%;
        height: 100%;
        margin: 5px 0 6px;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    #searchResults::-webkit-scrollbar {
        display: none;
    }


}




