body{
    overflow: auto;
}

/*.header .dropdown{*/
/*flex: 15% !important;*/
/*margin: 0;*/
/*}*/

/*.dropdown-content {*/
/*display: none;*/
/*left: -10%;*/
/*}*/

.sign{
    display: none !important;
    visibility: hidden;
}

.usersettings{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin: auto;
    width: 70%;
    color: white;
}



.usersettings label {
    padding: 8px;
    margin-right: 20px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;

}

.usersettings .row:after {
    content: "";
    display: table;
    clear: both;
}

.usersettings .col-25 {
    float: left;
    width: 25%;
    margin-top: 8px;
    text-align: right;
}


.usersettings .col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.usersettings input[type = submit]{
    background-color: #1dae2d;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    text-align: center;
    width: 100px;
    margin-left: 45%;
}

.usersettings input[type = submit]:hover{
    background-color: #008c00;
}

.usersettings form input{
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: beige;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}



.usersettings input[type=file]{
    padding: 3px;
}

.usersettings img{
    position: fixed;
    left: 70%;
    width: 50%;
    height: auto;
    max-width: 100px;
    top: 25%;
    z-index: -1;
    border-radius: 5px;
}

#deleteMyAccount{
    background-color: #474747;
    padding: 5px 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    border: 1px;
    border-radius: 5px;
    margin-top: 40px;
    align-self: center;

}



#deleteMyAccount:hover {
    background-color: #d60000;
    border: none;
}




/*media query*/
/**********************************************************************************************************************/


@media only screen and (max-width: 1024px) {

    .usersettings{
        padding-top: 8%;
        width: 80%;
    }

    .usersettings img{
        left: 75%;
        top: 20%;
    }

}

@media only screen and (max-width: 860px) {

    .usersettings{
        padding-top: 10%;
        width: 90%;
    }

    .usersettings label {
        padding: 3px;
        margin-right: 10px;
        font-size: 14px;

    }


    .usersettings .col-25 {
        float: left;
        width: 25%;
        margin-top: 8px;
        text-align: right;
    }


}

@media only screen and (max-width: 600px) {
    .usersettings{
        padding-top: 12%;
        width: 95%;
        align-items: center;
        float: left;
    }



    .usersettings label {
        padding: 0;
        display: inline-block;
        font-size: 14px;
    }

    .usersettings form input{
        padding: 3px;
        font-size: 14px;
        margin: 6px 0;
    }

    .usersettings input[type=file]{
        padding: 1px;
    }

    .usersettings .col-25 {
        width: 90px;
    }

    .usersettings .col-75 {
        width: 200px;
    }


    .usersettings img{
        display: none;
    }

}