
.signup-popup{
    position: fixed;
    left: 25%;
    width: 50%;
    top: 18%;
    padding: 50px;
    background: #FBFBF0;
    border: solid #000000 2px;
    z-index: 9;
    visibility: hidden;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.6)

}


.signup-popup label {
    padding: 8px;
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
}

.signup-popup .row:after {
    content: "";
    display: table;
    clear: both;
}

.signup-popup .col-25 {
    float: left;
    width: 25%;
    margin-top: 8px;
}

.signup-popup .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}



.signup-popup form input{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: beige;
    color: black;
    border: 2px solid #ccc;
    resize: vertical;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
}

.signup-popup form input[type = submit]{
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 150px;
    text-align: center;
    font-size: medium;
    background-color: #7b0e55;
    margin: 2% 40% 0 0;
}

.signup-popup form input[type=submit]:hover {
    background-color: #218c1a;
}

.signup-popup #cancelsignup{
    background-color: #a6a0a2;
    /*margin: 1% 5%;*/
    color: black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 23px;
    font-size: large;
    text-align: center;

}



.signup-popup #cancelsignup:hover {
    background-color: red;
    border: none;
}

/*.signup-popup a{*/
    /*background-color: #a6a0a2;*/
    /*margin: 1% 5%;*/
    /*color: white;*/
    /*padding: 12px;*/
    /*border: none;*/
    /*border-radius: 4px;*/
    /*cursor: pointer;*/
    /*width: 80px;*/
    /*float: left;*/
    /*text-align: center;*/

/*}*/

/*.signup-popup a:hover {*/
    /*background-color: #d01008;*/
/*}*/


/**************************************************************************************************************************/
@media screen and (max-width: 1024px) {

    .signup-popup{
        left: 5%;
        width: 90%;
        height: max-content;
        top: 25%;
        padding: 5px;
    }

    .signup-popup .col-75 {
        float: left;
        width: 90%;
        padding-left: 5%;
    }

    .signup-popup form input[type = submit]{
        width: 100px;
        margin-top: 2%;
        margin-right: 25%;
    }

    /*.signup-popup a{*/
        /*margin-top: 2%;*/
        /*margin-left: 25%;*/
    /*}*/



}

@media screen and (max-width: 600px) {
    .signup-popup{
        left: 5%;
        width: 90%;
        height: max-content;
        /*top: 100px;*/
        top: 14%;
        padding: 5px;
    }


    .signup-popup label {
        padding: 2px;
        margin-left: 20px;
        display: block;
        font-size: small;
    }

    .signup-popup .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .signup-popup .col-25 {
        float: left;
        width: 100%;
    }

    .signup-popup .col-75 {
        float: left;
        width: 90%;
    }



    .signup-popup form input{
        width: 100%;
        padding: 5px;
        border: 2px solid #ccc;
        font-size: 16px;
        resize: vertical;
    }

    .signup-popup form input[type = submit]{
        margin-right: 20%;
        margin-top: 2%;
        padding: 10px;
        width: 80px;
    }

    /*.signup-popup a{*/
        /*margin-top: 2%;*/
        /*margin-left: 15%;*/
        /*padding: 10px;*/
        /*width: 80px;*/
    /*}*/

}


