
.uploadfile{
    display: none;
    position: fixed;
    left: 5%;
    width: 50%;
    top: 15%;
    padding: 40px;
    color: beige;
    z-index: 9;
    background-color: #575757;
    /*background: #FBFBF0;*/
    /*border: solid red 2px;*/
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.9)
}

.uploadfile h4{
    font-weight: normal;
    text-align: center;
    color: orangered;
}


.uploadfile label {
    padding: 8px;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
    float: right;
}

.uploadfile .row:after {
    content: "";
    display: table;
    clear: both;
}

.uploadfile .col-25 {
    float: left;
    width: 25%;
    margin-top: 8px;
}

.uploadfile .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}


.uploadfile .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}



.uploadfile form input{
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: beige;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.uploadfile select{
    width: 80px;
    height: 30px;
    color: #0e000d;
    font-weight: normal;
    font-size: medium;
    margin-top: 4px;
}

.uploadfile form input[type = file]{
    border: none;
    font-weight: normal;
    font-size: medium;
    background-color: whitesmoke;
    padding: 5px;
}



.uploadfile form button{
    background-color: #1eb22e;
    margin: 7% 30% 0 0;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}


.uploadfile img{
    display: block;
    position: fixed;
    left: 65%;
    width: 40%;
    top: 15%;
    margin-left: 3%;
    z-index: -1;
}


.uploadfile form button:hover {
    background-color: #218c1a;
}

.uploadfile #cancelupload{
    background-color: #a6a0a2;
    /*margin: 1% 5%;*/
    color: black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 23px;
    font-size: large;
    text-align: center;

}



.uploadfile #cancelupload:hover {
    background-color: red;
    border: none;
}


/**********************************************************************************************************************/

@media only screen and (max-width: 1024px) {
    .uploadfile{
        width: 80%;
        top: 20%;
        padding: 5px;
        margin: 3% 5%;
    }


    .uploadfile .col-25 {
        width: 20%;
    }


    .uploadfile form input{
        width: 80%;
    }


    .uploadfile form button{
        margin: 3% 40%;
    }


    .uploadfile img{
        display: none;
    }




}

@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 600px) {

    .uploadfile{
        width: 80%;
        top: 10%;
        padding: 1px;
        margin: 15% 5%;
    }

    .uploadfile label {
        display: none;
    }

    .uploadfile h4{
        text-align: left;
        margin-left: 20px;
    }


    .uploadfile .col-25 {
        width: 100%;
    }

    .uploadfile select{
        display: none;
    }

    .uploadfile .col-50 {
        float: left;
        width: 75%;
        margin-top: 1px;
    }


    .uploadfile .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }



    .uploadfile form input{
        width: 100%;
        float: left !important;
        margin: 0 30px;
    }


    .uploadfile form button{
        margin: 3% 40%;
    }


    .uploadfile img{
        display: none;
    }


}





