.header{
    display: inline !important;
}

.header .logo{
    float: left !important;
}

.search-container{
    float: right !important;
    margin-right: 3%;
}


.signin-popup{
    position: fixed;
    left: 25%;
    width: 50%;
    top: 25%;
    padding: 40px;
    /*background: #FBFBF0;*/
    border: solid #000000 2px;
    z-index: 9;
    visibility: visible !important;
    /*box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.6)*/
}


.signin-popup label {
    padding: 8px;
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    color: beige;
}

.signin-popup .row:after {
    content: "";
    display: table;
    clear: both;
}

.signin-popup .col-25 {
    float: left;
    width: 25%;
    margin-top: 8px;
}

.signin-popup .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}



.signin-popup form input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: beige;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.signin-popup form input[type = submit]{
    background-color: #7b0e55;
    margin: 2% 40% 0 0;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 150px;
    font-size: medium;
    text-align: center;
}



.signin-popup form input[type=submit]:hover {
    background-color: #218c1a;
}





/**************************************************************************************************************************/

@media screen and (max-width: 1024px) {


    .signin-popup{
        left: 5%;
        width: 90%;
        height: max-content;
        /*top: 150px;*/
        top: 30%;
        padding: 5px;
    }

    .signin-popup .col-75 {
        float: left;
        width: 90%;
        padding-left: 5%;
    }

    .signin-popup form input[type = submit]{
        width: 100px;
        margin-right: 25%;
    }

}

@media screen and (max-width: 768px) {

}

@media only screen and (orientation: landscape) {

}



@media screen and (max-width: 600px) {

    .header{
        display: inline !important;
    }

    .header .logo{
        float: left !important;
    }

    .search-container{
        float: left !important;
        margin-right: 0;
        top: 3px;
    }


    .search-container input[type=text] {
        width: 150px;
    }


    .signin-popup{
        left: 5%;
        width: 90%;
        height: max-content;
        /*top: 120px;*/
        top: 25%;
        padding: 5px;
    }


    .signin-popup label {
        padding: 2px;
        margin-left: 20px;
        display: block;
        font-size: small;
    }

    .signin-popup .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .signin-popup .col-25 {
        float: left;
        width: 100%;
    }

    .signin-popup .col-75 {
        float: left;
        width: 90%;
    }



    .signin-popup form input{
        width: 100%;
        padding: 5px;
        border: 2px solid #ccc;
        font-size: small;
        resize: vertical;
    }

    .signin-popup form input[type = submit]{
        margin-right: 10%;
        margin-top: 2%;
        padding: 10px;
        width: 80px;
    }

}

