<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/signin.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <link rel="stylesheet" type="text/css" href="../css/media.css">



    <script src="../js/popup.js"></script>
    <script src="../js/index.js"></script>


    <title>home</title>
</head>


<body>

<div class="header" id="header">

    <div class="logo">
        <a href="index.html"> FOTEMA <!--<img src="/image/slogo14.PNG">--></a>
    </div>

    <div class="upload" id="upload">
        <a href="upload.html"><!--<i class="fa fa-upload"></i>--> upload</a>
    </div>

    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="#for tags, :name for users, text for titles.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="sign">
        <a class="signin" href="javascript:popup('showsignin');">sign in</a>
        <a class="signup" href="javascript:popup('showsignup');"> sign up</a>
    </div>

    <div class="dropdown">
        <button class="dropbtn"><!--<i class="fa fa-plus"></i>-->more <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="myfotema" href="myfotema.html">my fotema</a>
            <a class="settings" href="settings.html">settings</a>
            <a class="signout" href="signout.html">sign out </a>
        </div>
    </div>

</div>

<div class="form-popup" id="form-popup">

    <div class="signin-popup" id="signin-popup">
        <form name="signin" action="signin" method="post">
            <div class="row">
                <a id="cancelsignin" href="javascript:popup('hidesignin');"><i class="fa fa-times"></i></a>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Username</label>
                </div>
                <div class="col-75">
                    <input type = "text" name = "username" required placeholder="required">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label>Password</label>
                </div>
                <div class="col-75">
                    <input type = "password" name = "password" required placeholder="required">
                </div>
            </div>
            <div class="row">
                <input id="signin" type="submit" name="submit" value="sign in">
            </div>

            <a href="javascript:popup('showsignup');">no account yet?</a>

        </form><br />

    </div>


    <div class="signup-popup" id="signup-popup">
        <form name="login" action="signup" method="post">

            <div class="row">
                <a id="cancelsignup" href="javascript:popup('hidesignup');"><i class="fa fa-times"></i></a>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Username</label>
                </div>
                <div class="col-75">
                    <input type = "text" name = "username" required placeholder="required">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>Email</label>
                </div>
                <div class="col-75">
                    <input type = "email" name = "email" required placeholder="required and must be valid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>Password</label>
                </div>
                <div class="col-75">
                    <input type = "password" name = "password" required placeholder="required">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>Repeat Password</label>
                </div>
                <div class="col-75">
                    <input type = "password" name = "password" required placeholder="required">
                </div>
            </div>

            <div class="row">
                <input type="submit" name="submit" value="sign up">
            </div>

            <a href="javascript:popup('showsignin');">already have an account?</a>

        </form><br />

    </div>
</div>



<div class="mediacontent">

    <div class="firstblock"> <!--show on page load, user can click view-more button to load more-->
    <$>                  <!-- START OF THE SPECIAL TAG TO BE FILLED WITH DYNAMIC CONTENT -->
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/slogo15.PNG">
                <img src="../image/slogo15.PNG">width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>
    </div>
    </$>                 <!-- END OF THE SPECIAL TAG TO BE FILLED WITH DYNAMIC CONTENT -->
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/qRthE91.jpg">
                <img src="../image/qRthE91.jpg">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 200</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/f1.jpg">
                <img src="../image/f1.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description of the image here </p>
                <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 900</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/CUTLtuC.jpg">
                <img src="../image/CUTLtuC.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/fotemaLogo3.PNG">
                <img src="../image/fotemaLogo3.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/fotemaLogo3.PNG">
                <img src="../image/slogo7.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/fotemaLogo3.PNG">
                <img src="../image/logo1.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/fotemaLogo3.PNG">
                <img src="../image/f.png" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/fotemaLogo3.PNG">
                <img src="../image/slogo15.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 28976</p>
                <p class="comments"><i class="fa fa-commenting"></i> 35456</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/slogo15.PNG">
                <img src="../image/slogo15.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>
    </div>
    </$>
    <$
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/qRthE91.jpg">
                <img src="../image/qRthE91.jpg">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 200</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/f1.jpg">
                <img src="../image/f1.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description of the image </p>
                <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 900</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/slogo15.PNG">
                <img src="../image/slogo15.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/qRthE91.jpg">
                <img src="../image/qRthE91.jpg">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 200</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/f1.jpg">
                <img src="../image/f1.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description of the image </p>
                <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 900</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/slogo15.PNG">
                <img src="../image/slogo15.PNG" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 200</p>
                <p class="comments"><i class="fa fa-commenting"></i> 20</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/qRthE91.jpg">
                <img src="../image/qRthE91.jpg">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 200</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/f1.jpg">
                <img src="../image/f1.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description of the image </p>
                <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 900</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/qRthE91.jpg">
                <img src="../image/qRthE91.jpg">
            </a>
            <div class="desc">
                <p class="description">description</p>
                <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 200</p>
            </div>
        </div>
    </div>
    </$>
    <$>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../image/f1.jpg">
                <img src="../image/f1.jpg" width="" height="">
            </a>
            <div class="desc">
                <p class="description">description of the image </p>
                <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                <p class="comments"><i class="fa fa-commenting"></i> 900</p>
            </div>
        </div>
    </div>
    </$>
    </div>


    <div class="morecontent" id="morecontent">
        <$>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="../image/slogo15.PNG">
                    <img src="../image/slogo15.PNG" width="" height="">
                </a>
                <div class="desc">
                    <p class="description">description</p>
                    <p class="likes"><i class="fa fa-heart"></i> 200</p>
                    <p class="comments"><i class="fa fa-commenting"></i> 20</p>
                </div>
            </div>
        </div>
        </$>
        <$>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="../image/qRthE91.jpg">
                    <img src="../image/qRthE91.jpg">
                </a>
                <div class="desc">
                    <p class="description">description</p>
                    <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                    <p class="comments"><i class="fa fa-commenting"></i> 200</p>
                </div>
            </div>
        </div>
        </$>
        <$>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="../image/f1.jpg">
                    <img src="../image/f1.jpg" width="" height="">
                </a>
                <div class="desc">
                    <p class="description">description of the image </p>
                    <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                    <p class="comments"><i class="fa fa-commenting"></i> 900</p>
                </div>
            </div>
        </div>
        </$>
        <$>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="../image/qRthE91.jpg">
                    <img src="../image/qRthE91.jpg">
                </a>
                <div class="desc">
                    <p class="description">description</p>
                    <p class="likes"><i class="fa fa-heart"></i> 1000</p>
                    <p class="comments"><i class="fa fa-commenting"></i> 200</p>
                </div>
            </div>
        </div>
        </$>
        <$>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="../image/f1.jpg">
                    <img src="../image/f1.jpg" width="" height="">
                </a>
                <div class="desc">
                    <p class="description">description of the image </p>
                    <p class="likes"><i class="fa fa-heart"></i> 100000</p>
                    <p class="comments"><i class="fa fa-commenting"></i> 900</p>
                </div>
            </div>
        </div>
        </$>

    </div>




    <!--<ul>-->

        <!--<li>-->
            <!--<figure>-->
                <!--<a href=""> <img src="/image/slogo11.PNG"> </a>-->
                <!--<div class="feedback">-->
                    <!--<p class="description">description</p>-->
                    <!--<p class="likes"><i class="fa fa-heart"></i></p>-->
                    <!--<p class="comments"><i class="fa fa-commenting"></i></p>-->
                <!--</div>-->
            <!--</figure>-->
        <!--</li>-->

    <!--</ul>-->



</div>

<button class="viewmorecontent" id="btnViewMore" onclick="viewMore()">view more</button>




<div class="footer" id="footer">
    <p><i class="fa fa-copyright"></i> FOTEMA</p>
    <a class="about" href="about.html"> about </a>
    <a class="rules" href="rules.html"> rules </a>
    <a class="report" href="report.html">report </a>
</div>



<script src="/js/popup.js"></script>

</body>
</html>